<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="cadena" connectionString="Data Source=.\Database\sgfDatabase.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="MiConexion" connectionString="Data Source=localhost,1433;user id=Javier12301;password=Reloj12301;Initial Catalog=SistemaGestionFarmaceutica;Persist Security Info=true" providerName="System.Data.SqlClient" />
    <add name="SistemaGestionFarmaceuticaEntity" connectionString="metadata=res://*/Modelo.MyEntityFramework.csdl|res://*/Modelo.MyEntityFramework.ssdl|res://*/Modelo.MyEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SistemaGestionFarmaceutica;persist security info=True;user id=Javier12301;password=Reloj12301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SistemaGestionFarmaceuticaEntities" connectionString="metadata=res://*/Modelo.EntityFrameworkModelsSGF.csdl|res://*/Modelo.EntityFrameworkModelsSGF.ssdl|res://*/Modelo.EntityFrameworkModelsSGF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SistemaGestionFarmaceutica;persist security info=True;user id=Javier12301;password=Reloj12301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>